.main-container {
    padding-left: 16px;
    padding-right: 16px;
}

.details-container {
    background: 'white';
    padding: 10;
}

.cast-container {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
    height: 300px;
}

.back {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/landing_banner.jpeg');
}