.hoirzantal-container {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    height: 320px;
}


.hoirzantal-container::-webkit-scrollbar {
    width: 10px;
}


.hoirzantal-container::-webkit-scrollbar-thumb {
    border-radius: 0;
    width: 3px;
    background: #f0efef;
}